<% title(_("Discovered host: %s") % @host.to_label) %>

<%= discovers_title_actions(@host) %>

<h3><%= _('Facts discovered on this host') -%></h3>
<table class="table table-bordered table-striped table-condensed">
  <tr>
    <th><%= _('Fact') -%></th>
    <th><%= _('Value') -%></th>
  <% @host.facts_hash.sort.each do |fact| -%>
    <tr>
      <td><%= fact[0] %></td>
      <td><%= fact[1] %></td>
    </tr>
  <% end -%>
</table>
