<table class="table table-striped ellipsis">
  <thead>
  <th><%= _('Host') %></th>
  <th><%= _('Model') %></th>
  <th><%= _('IP Address') %></th>
  <th><%= _('CPU') %></th>
  <th><%= _('Memory') %></th>
  </thead>
  <tbody>
  <% hosts.each do |host| %>
    <tr>
      <%= render :partial => "discovered_hosts/discovered_host", :locals => {
        :host => host, :hide_disk => true } %>
  </tr>
  <% end %>
  </tbody>
</table>
