<table class="table table-striped ellipsis">
  <thead>
  <th><%= _('Host') %></th>
  <th><%= _('Model') %></th>
  <th><%= _('CPUs') %></th>
  <th><%= _('Memory') %></th>
  </thead>
  <tbody>
  <% hosts.each do |host| %>
    <tr>
      <%= render :partial => "discovery_widget_host", :locals => {
        :host => host } %>
  </tr>
  <% end %>
  </tbody>
</table>
