<table class="<%= table_css_classes('table-fixed') %>">
  <thead>
  <th width="30%"><%= _('Host') %></th>
  <th class="hidden-tablet hidden-xs"><%= _('Model') %></th>
  <th class="hidden-tablet hidden-xs"><%= _('CPUs') %></th>
  <th class="hidden-tablet hidden-xs"><%= _('Memory') %></th>
  </thead>
  <tbody>
  <% hosts.each do |host| %>
    <tr>
      <%= render :partial => "discovery_widget_host", :locals => {
        :host => host } %>
  </tr>
  <% end %>
  </tbody>
</table>
