<h4 class="ca"><%= _('Discovered Host Pool') %> - <%= @current_permission %></h4>
<% all_hosts = Host::Discovered.search_for '' %>
<% hosts = all_hosts.limit(5) %>
<% if hosts.empty? %>
   <p class="ca"><%= _("No discovered hosts available") %></p>
<% else %>
    <%= render :partial => 'discovery_widget_host_list', :locals => { :hosts => hosts } %>
    <p class="ca"><%= link_to n_("Total pool size", "Total pool size", all_hosts.size), discovered_hosts_path %>
      - <%= all_hosts.size %> </p>
<% end %>
