<% title header ||= "" %>
<table class="table table-bordered table-striped table-condensed" >
  <tr>
    <th class=''><%= sort :name %></th>
    <th class="hidden-tablet hidden-phone"><%= sort :model %></th>
    <th class="hidden-tablet hidden-phone"><%= sort :last_report, :as => "Facts last received" %></th>
    <th></th>
  </tr>
  <% hosts.each do |host| -%>
    <tr>
      <td><%= link_to("#{host}", discovered_path(host) ) %> </td>
      <td class="hidden-tablet hidden-phone"><%= model_name host %></td>
      <td class="hidden-tablet hidden-phone"><%= disc_report_column(host) %></td>
      <td>
        <%= action_buttons(
          link_to("Provision", hash_for_edit_discovered_path(:id => host)),
          link_to("Refresh Facts", hash_for_refresh_facts_path(:id => host)),
          display_delete_if_authorized(hash_for_discovered_path(:id => host), :confirm => "Delete #{host.name}?", :action => :destroy))%>
        </td>
      </tr>
    <% end -%>
  </table>

<%= page_entries_info hosts, :more => " - <strong><span class='select_count'>0</span></strong> Selected" %>
<%= will_paginate hosts %>
