<% title _("Discovery Rules") %>
<% title_actions new_link(_("New Rule")), help_button %>

<table class="table table-bordered table-striped table-two-pane">
  <tr>
    <th><%= sort :name, :as => s_("DiscoveryRule|Name") %></th>
    <th><%= sort :priority, :as => s_("DiscoveryRule|Priority") %></th>
    <th><%= sort :search, :as => s_("DiscoveryRule|Query") %></th>
    <th><%= _("Host group") %></th>
    <th><%= _("Hosts/limit") %></th>
    <th><%= sort :enabled, :as => s_("DiscoveryRule|Enabled") %></th>
    <th></th>
  </tr>
  <% for rule in @discovery_rules %>
    <tr>
      <td class='col-md-3 display-two-pane'><%= link_to_if_authorized(trunc_with_tooltip(rule.name), hash_for_edit_discovery_rule_path(:id => rule).merge(:auth_object => rule, :authorizer => authorizer)) %></td>
      <td><%= rule.priority %></td>
      <td><%= trunc_with_tooltip(rule.search) %></td>
      <td><%= label_with_link(rule.hostgroup, 26, authorizer) %></td>
      <td><%= rule.hosts.count %> / <%= rule.max_count %></td>
      <td><%= rule.enabled %></td>
      <td><%= action_buttons(*permitted_discovery_actions(rule)) %></td>
    </tr>
  <% end %>
</table>
<%= will_paginate_with_info @discovery_rules %>
