<% content_for(:javascripts) do %>
  <%= webpacked_plugins_js_for :'foreman_discovery' %>
<% end %>
<% content_for(:stylesheets) do %>
  <%= webpacked_plugins_css_for :'foreman_discovery' %>
<% end %>

<% content_for(:title, _("Discovered Rules")) %>

<% content_for(:content) do %>
  <%= notifications %>
  <div id="organization-id" data-id="<%= Organization.current.id if Organization.current %>" ></div>
  <div id="user-id" data-id="<%= User.current.id if User.current %>" ></div>
  <%= react_component('DiscoveryRules', docUrl: external_link_path(type: 'plugin_manual', name: 'foreman_discovery', version: discovery_doc_version, section: '#4.3Automaticprovisioning') ) %>
<% end %>
