<%= javascript "jquery.cookie", "host_checkbox" %>
<% title _('Discovered hosts') %>
<% stylesheet("discovery-two-pane") %>
<table class="table table-bordered table-striped table-condensed table-two-pane" >
  <tr>
    <th class="ca"><%= check_box_tag "check_all", "", false, { :onclick => "toggleCheck()", :'check-title' => _("Select all items in this page"), :'uncheck-title'=> _("items selected. Uncheck to Clear") } %></th>
    <th class="hidden-tablet hidden-xs"><%= sort :name, :as => _('Name') %></th>
    <th><%= sort :model, :as => _('Model') %></th>
    <th><%= sort :ip, :as => _('IP Address') %></th>
    <th><%= sort :cpu_count, :as => _('CPUs') %></th>
    <th><%= sort :memory, :as => _('Memory') %></th>
    <th><%= sort :disk_count, :as => _('Disk count') %></th>
    <th><%= sort :disks_size, :as => _('Disks size') %></th>
    <% if Setting['discovery_fact_column'].present? %>
      <th><%= Setting['discovery_fact_column'].capitalize %></th>
    <% end %>
    <% if SETTINGS[:locations_enabled] -%>
      <th><%= sort :location, :as => _('Location') %></th>
    <% end -%>
    <% if SETTINGS[:organizations_enabled] -%>
      <th><%= sort :organization, :as => _('Organization') %></th>
    <% end -%>
    <th><%= sort :subnet, :as => _("Subnet") %></th>
    <th><%= sort :last_report, :as => _("Last facts upload") %></th>
    <th></th>
  </tr>
  <% @hosts.each do |host| -%>
    <tr>
      <td class="ca">
        <%= check_box_tag "host_ids[]", nil, false, :id => "host_ids_#{host.id}", :disabled => !authorized?, :class => 'host_select_boxes', :onclick => 'hostChecked(this)' -%>
      </td>
      <td class="hidden-tablet hidden-xs display-two-pane"><%= link_to h(host.name), discovered_host_path(host) %></td>
      <%= render :partial => "discovered_host", :locals => {:host => host} %>
      <% if SETTINGS[:locations_enabled] -%>
        <td><%= host.location.try(:name) %></td>
      <% end -%>
      <% if SETTINGS[:organizations_enabled] -%>
        <td><%= host.organization.try(:name) %></td>
      <% end -%>
      <td><%= host.primary_interface.try(:subnet) %></td>
      <td><%= disc_report_column(host) %></td>
      <td>
        <%= action_buttons(
          link_to(_("Provision"), hash_for_edit_discovered_host_path(:id => host)),
          link_to(_("Auto Provision"), hash_for_auto_provision_discovered_host_path(:id => host), :method => :post),
          link_to(_("Refresh facts"), hash_for_refresh_facts_discovered_host_path(:id => host)),
          link_to(_("Reboot"), hash_for_reboot_discovered_host_path(:id => host), :method => :put),
          display_delete_if_authorized(hash_for_discovered_host_path(:id => host), :confirm => _("Delete %s?") % host.name, :action => :destroy))%>
        </td>
      </tr>
    <% end -%>
  </table>

<div id="confirmation-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= _('Please Confirm') %></h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= _('Cancel') %></button>
        <button type="button" class="btn btn-primary" onclick="submit_modal_form()"><%= _('Submit') %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= page_entries_info @hosts %>
<%= will_paginate @hosts %>
