<td><%= discovery_status_icon(host) %>&#8239;<%= link_to trunc_with_tooltip(h(host.name)), discovered_host_path(host) %></td>
<td class="hidden-tablet hidden-xs"><%= model_name host %></td>
<td class="hidden-tablet hidden-xs"><%= host.ip %></td>
<td class="hidden-tablet hidden-xs"><%= discovery_attribute(host, :cpu_count) %></td>
<td class="hidden-tablet hidden-xs"><%= number_to_human_size(discovery_attribute(host, :memory, 0) * 1024 * 1024) %></td>
<td class="hidden-tablet hidden-xs"><%= discovery_attribute(host, :disk_count) %></td>
<td class="hidden-tablet hidden-xs"><%= number_to_human_size(discovery_attribute(host, :disks_size, 0) * 1024 * 1024) %></td>
<%
  Setting::Discovered.discovery_fact_column_array.each do |name|
%>
<td class="hidden-tablet hidden-xs"><%= @host_facts[host.id][name] || 'N/A' %></td>
<% end %>
