<div class="modal" id="<%= "fixedPropertiesSelector-#{host.id}" %>" tabindex="-1" role="dialog" aria-labelledby="fixedPropertiesSelectorLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <%= form_for host, :url => edit_discovered_host_path(host), :method => :get do |f| %>
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="fixedPropertiesSelectorLabel"><%= _('Select initial host properties') %></h4>
          </div>
          <div class="modal-body">
            <%= select_f f, :hostgroup_id, accessible_resource_records(:hostgroup, :title).to_a, :id, :to_label,
                         { :include_blank => true },
                         { :help_inline => :indicator, :size => 'col-md-10' } %>

            <% if show_organization_tab?  %>
                <%= select_f f, :organization_id, Organization.my_organizations, :id, :to_label, {}, {:size => 'col-md-10'} %>
            <% end %>

            <% if show_location_tab? %>
                <%= select_f f, :location_id, Location.my_locations, :id, :to_label, {}, {:size => 'col-md-10'} %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input type="submit" class="btn btn-default" value="<%= _('Quick create') %>" name="quick_submit" />
            <input type="submit" class="btn btn-primary" value="<%= _('Create host') %>" />
          </div>
      <% end %>
    </div>
  </div>
</div>
