<%= javascript "jquery.cookie", "host_checkbox" %>
<% title _('Discovered hosts') %>
<table class="table table-bordered table-striped table-condensed" >
  <tr>
    <th class="ca"><%= check_box_tag "check_all", "", false, { :onclick => "toggleCheck()", :'check-title' => _("Select all items in this page"), :'uncheck-title'=> _("items selected. Uncheck to Clear") } %></th>
    <th class=''><%= sort :name, :as => _('Name') %></th>
    <th class="hidden-tablet hidden-xs"><%= sort :model, :as => _('Model') %></th>
    <% if SETTINGS[:locations_enabled] -%>
      <th class="hidden-tablet hidden-xs"><%= sort :location, :as => _('Location') %></th>
    <% end -%>
    <% if SETTINGS[:organizations_enabled] -%>
      <th class="hidden-tablet hidden-xs"><%= sort :organization, :as => _('Organization') %></th>
    <% end -%>
    <th class="hidden-tablet hidden-xs"><%= sort :subnet, :as => _("Subnet") %></th>
    <th class="hidden-tablet hidden-xs"><%= sort :last_report, :as => _("Last facts upload") %></th>
    <th></th>
  </tr>
  <% @hosts.each do |host| -%>
    <tr>
      <td class="ca">
        <%= check_box_tag "host_ids[]", nil, false, :id => "host_ids_#{host.id}", :disabled => !authorized?, :class => 'host_select_boxes', :onclick => 'hostChecked(this)' -%>
      </td>
      <td><%= link_to("#{host}", discovered_host_path(host) ) %> </td>
      <td class="hidden-tablet hidden-xs"><%= model_name host %></td>
      <% if SETTINGS[:locations_enabled] -%>
        <td class="hidden-tablet hidden-xs"><%= host.location.try(:name) %></td>
      <% end -%>
      <% if SETTINGS[:organizations_enabled] -%>
        <td class="hidden-tablet hidden-xs"><%= host.organization.try(:name) %></td>
      <% end -%>
      <td class="hidden-tablet hidden-xs"><%= host.subnet %></td>
      <td class="hidden-tablet hidden-xs"><%= disc_report_column(host) %></td>
      <td>
        <%= action_buttons(
          link_to(_("Provision"), hash_for_edit_discovered_host_path(:id => host)),
          link_to(_("Auto Provision"), hash_for_auto_provision_discovered_host_path(:id => host), :method => :post),
          link_to(_("Refresh facts"), hash_for_refresh_facts_discovered_host_path(:id => host)),
          display_delete_if_authorized(hash_for_discovered_host_path(:id => host), :confirm => _("Delete %s?") % host.name, :action => :destroy))%>
        </td>
      </tr>
    <% end -%>
  </table>

<div id="confirmation-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= _('Please Confirm') %></h4>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= _('Cancel') %></button>
        <button type="button" class="btn btn-primary"><%= _('Submit') %></button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= page_entries_info @hosts %>
<%= will_paginate @hosts %>
