<td class="hidden-tablet hidden-xs display-two-pane"><%= link_to h(host.name), discovered_host_path(host) %></td>
<td><%= model_name host %></td>
<td><%= host.ip %></td>
<td><%= discovery_attribute(host, :cpu_count) %></td>
<td><%= number_to_human_size(discovery_attribute(host, :memory, 0) * 1024 * 1024) %></td>
<% unless defined? hide_disk %>
<td><%= discovery_attribute(host, :disk_count) %></td>
<td><%= number_to_human_size(discovery_attribute(host, :disks_size, 0)) %></td>
<% end %>
