<div class="row">
  <div class="col-md-8">

    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= _('Name') %></th>
          <th><%= _('Model') %></th>
          <% if SETTINGS[:locations_enabled] %>
            <th><%= _('Location') %></th>
          <% end %>
          <% if SETTINGS[:organizations_enabled] %>
            <th><%= _('Organization') %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% hosts.each do |host| -%>
          <tr>
            <td><%=h host %> </td>
            <td><%=h host.model %> </td>
            <% if SETTINGS[:locations_enabled]%>
            <td><%=h host.try(:location) %></td>
            <% end %>
            <% if SETTINGS[:organizations_enabled]%>
            <td><%=h host.try(:organization) %></td>
            <% end %>
          </tr>
        <% end -%>
      </tbody>
    </table>
  </div>
</div>
