<% title(_("Discovered host: %s") % @host.to_label) %>

<%= discovered_hosts_title_actions(@host) %>

<!-- Modal -->
<%= render :partial => "discovered_host_modal", :locals => {:host => @host} %>

<div class="row">
  <div class="col-md-6">
    <div id="category-highlights" class="panel panel-default">
      <div class="panel-heading" role="tab">
        <h4 class="panel-title">
          <a role="button" class="expendable-link" data-toggle="collapse" href="#highlights-panel" aria-expanded="true">
            <%= _(@categories_names[0]) %>
          </a>
        </h4>
      </div>
      <div id="highlights-panel" class="panel-collapse collapse facts-panel in" >
        <table class="<%= table_css_classes('table-condensed') %>">
          <% @categories[0].sort.each do |key, val| %>
            <tr id="fact-<%= key.try(:downcase) %>" class="">
              <th class="ellipsis" width="40%"> <strong> <%= key %> </strong></th>
              <td><%= val %></td>
            </tr>
          <% end -%>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <% unless @interfaces.empty? %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a role="button" class="expendable-link" data-toggle="collapse" href="#interfaces-panel" aria-expanded="true">
              <%= _("Interfaces") %>
            </a>
          </h4>
        </div>
        <div id="interfaces-panel" class="panel-collapse collapse facts-panel in" >
          <table class="<%= table_css_classes('table-condensed table-fixed') %>" id="interfaceList">
            <tr>
              <th class="hidden-xs " width="12%"><%= _('Type') %></th>
              <th class="hidden-xs "><%= _('Identifier') %></th>
              <th class="hidden-xs "><%= _("MAC address") %></th>
              <th class="hidden-xs "><%= _("IP address") %></th>
            </tr>
            <% @interfaces.each do |interface| %>
              <tr>
                <td class="<%= attach_flags(interface) %> ellipsis"></td>
                <td class="ellipsis"><%= interface[:identifier] %></td>
                <td class="ellipsis"><%= interface[:mac] %></td>
                <td class="ellipsis"><%= interface[:ip] %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= link_to(_("Collapse All"),"#", :id => "expand_all", :class => "btn btn-default pull-right", style: 'margin-bottom: 1rem') -%>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @categories.each_with_index do |val, index| %>
        <% next if index == 0 || val.empty? %>
        <div id="category-<%= @categories_names[index].downcase %>" class="panel panel-default" style="margin-bottom: 1rem">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a role="button" class="expendable-link" data-toggle="collapse" data-parent="#accordion" href="#<%= @categories_names[index].to_s + "panel" %>" aria-expanded="true">
                <%= _(@categories_names[index]) %>
              </a>
            </h4>
          </div>
          <div id="<%= @categories_names[index].to_s + "panel" %>" class="panel-collapse collapse in facts-panel" role="tabpanel">
            <table class="<%= table_css_classes('table-condensed table-fixed') %>">
              <% val.sort.each do |key, value|  %>
                <tr class="">
                  <th width="40%" class="ellipsis"><strong> <%= key %> </strong> </th>
                  <td class="ellipsis"> <%= value %> </td>
                </tr>
              <% end %>
            </table>
          </div>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<% content_for(:javascripts) do -%>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      $("table").css('padding', '0');
      $("table").css("cssText", 'margin-bottom: 0 !important;');

      provision_class = 'active'
      primary_class = 'active'
      var flag_primary = '<i class="glyphicon glyphicon glyphicon-tag primary-flag '+ primary_class +'" title="" data-original-title="'+ __('Primary') +'"></i>';
      var flags_provision = '<i class="glyphicon glyphicon glyphicon-hdd provision-flag '+ provision_class +'" title="" data-original-title="'+ __('Provisioning') +'"></i>';

      $('.flag-primary').html(flag_primary);
      $('.flag-provision').append(flags_provision);
      $('.primary-flag').tooltip();
      $('.provision-flag').tooltip();

      expand_all_toggle_action = { 'Expand All': 'show', 'Collapse All': 'hide' };
      $('#expand_all').on('click', function () {
        $(this).text(function(i, text){
            $('#accordion .panel-collapse').collapse(expand_all_toggle_action[text]);
            return text === "Expand All" ? "Collapse All" : "Expand All";
        })
      });

    });
  </script>
<% end %>
