<% td_style = "text-align: left; border-collapse: collapse; background-color: #FFFFFF; padding: 4px; border: 1px solid #cccccc;" %>
<td style="<%= td_style%>">
  <%= link_to host, discovered_host_path(:id => host, :host => @url.host, :port => @url.port, :only_path => false, :protocol => @url.scheme) %>
</td>
<td style="<%= td_style%>"><%= host.model_name %></td>
<td style="<%= td_style%>"><%= host.ip %></td>
<td style="<%= td_style%>"><%= discovery_attribute(host, :cpu_count) %></td>
<td style="<%= td_style%>"><%= number_to_human_size(discovery_attribute(host, :memory, 0) * 1024 * 1024) %></td>
<td style="<%= td_style%>"><%= discovery_attribute(host, :disk_count) %></td>
<td style="<%= td_style%>"><%= number_to_human_size(discovery_attribute(host, :disks_size, 0) * 1024 * 1024) %></td>
