<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%# this view contains style as some email clients ignore css files %>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title><%= _('Summary report for discovered hosts from Foreman') %></title>
  <%= stylesheet_link_tag 'foreman_discovery/email_summary' %>
</head>
<body>
<h1 class="title"><%= _("<b>Foreman</b> Discovered hosts summary").html_safe %></style>
<h2 class="summary_title"><%= _("Summary from %{time} ago to %{now}") % { :time => @time.in_time_zone, :now => Time.zone.now } %></h2>
<h3 class="discovered_host_title"><%= _("Discovered hosts from Foreman server at %{foreman_url}") % {:foreman_url => Setting[:foreman_url]} %></h3>
<div class="table_pane">
  <% if @discovered_hosts.any? %>
    <table>
      <th><%= _('Name') %></th>
      <th><%= _('Model') %></th>
      <th><%= _('IP Address') %></th>
      <th><%= _('CPUs') %></th>
      <th><%= _('Memory') %></th>
      <th><%= _('Disk count') %></th>
      <th><%= _('Disks size') %></th>
      <% @discovered_hosts.each do |host| %>
        <tr>
          <%= render :partial => "discovered_host", :locals => {:host => host} %>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p><%= _('No discovered hosts for the selected period') %>
  <% end %>
</div>
</body>
</html>
